.Info {
    height: 100%;
    width: 100%;
}

.Info-emoji {
    margin: 20px 0 0 30px;
}

.Info-degrees {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.Info-maxmin {
    margin: 4px 0 0 -10px;
}

.Info-values {
    padding-top: 30px;
    text-align: right;
}

.Info p {
    line-height: 4px;
}