.Weather {
    height: 95%;
}

form {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: 700px 500px;
    border: 2px solid White;
    border-radius: 15px;
    width: 700px;
    height: 500px;
    margin: auto;
    padding: 20px;
}

.Weather-btn-search {
    background-color: lightskyblue !important;
}

.Weather-btn-location {
    background-color: orange !important;
}

.Weather-location {
    padding: 5px 0 0 30px;
}

.Weather-info {
    padding: 5px 0 0 30px;
}

.Weather-forecast {
    width: 100%;
    padding-top: 60px;
}