.Weather {
    height: 95%;
}

.Weather-form {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: 700px 500px;
    border: 2px solid White;
    border-radius: 15px;
    width: 700px;
    height: 100px;
    margin: auto;
    padding: 20px;
}

.Weather-max {
    height: 500px;
}

.Weather-search {
    margin-right: -22px;
}

.Weather-btn-search {
    border: 1px solid lightskyblue;
    background-color: lightskyblue !important;
}

.Weather-btn-search:hover {
    border: 1px solid lightskyblue;
    background-color: lightcyan !important;
}

.Weather-btn-location {
    border: 1px solid orange;
    background-color: orange !important;
}

.Weather-btn-location:hover {
    border: 1px solid orange;
    background-color: rgb(255, 225, 211) !important;
}

.Weather-location {
    padding: 5px 0 0 30px;
}

.Weather-info {
    padding: 5px 0 0 30px;
}

.Weather-forecast {
    width: 100%;
    padding-top: 20px;
    margin-left: 1px;
}